/*--------------------------- Color variations ----------------------*/
/* Medium Layout: 1280px */
/* Tablet Layout: 768px */
/* Mobile Layout: 320px */
/* Wide Mobile Layout: 480px */
/* =================================== */
/*  Basic Style 
/* =================================== */
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #777777;
  font-weight: 300;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777;
  font-weight: 300;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777777;
  font-weight: 300;
}

body {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
  color: #777777;
}

/**
 *  Typography
 *
 **/

h1, h2, h4 {
  font-family: "Poppins", sans-serif;
  color: #222222;
  line-height: 1.5em;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 500;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h4 {
  font-size: 18px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.relative {
  position: relative;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h4 {
  font-size: 18px;
}

h1, h2, h4 {
  line-height: 1.5em;
}

.main-wrapper-first {
  width: 68.75%;
  margin: 0 auto;
  margin-top: 6rem;
}

@media (min-width: 1200px) {
  .main-wrapper-first {
    width: 75%;
  }
}

@media (max-width: 1199px) {
  .main-wrapper-first {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .main-wrapper-first {
    margin-top: 3rem;
    width: 97%;
  }
}

.main-wrapper {
  width: 68.75%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .main-wrapper {
    width: 75%;
  }
}

@media (max-width: 1199px) {
  .main-wrapper {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .main-wrapper {
    width: 97%;
  }
}

body {
  background-image: -moz-linear-gradient(0deg, #F5BE30 0%, #F5BE30 100%);
  background-image: -webkit-linear-gradient(0deg, #F5BE30 0%, #F5BE30 100%);
  background-image: -ms-linear-gradient(0deg, #F5BE30 0%, #F5BE30 100%);
}

.banner-area {
  position: relative;
}

.banner-area:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -moz-radial-gradient(50% 50%, circle closest-side, #f9f9ff 0%, #f9f9ff 100%);
  background-image: -webkit-radial-gradient(50% 50%, circle closest-side, #f9f9ff 0%, #f9f9ff 100%);
  background-image: -ms-radial-gradient(50% 50%, circle closest-side, #f9f9ff 0%, #f9f9ff 100%);
  top: 0;
  left: 0;
  z-index: -1;
}

.banner-area .height {
  height: 600px;
}

.banner-area .generic-height {
  height: 400px;
}

.banner-content h1 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 100px;
  font-weight: 900;
  line-height: 1.15em;
  color: #222222;

}

@media (max-width: 767px) {
  .banner-content h1 {
    font-size: 60px;
  }
}

.banner-content h2 {
  font-size: 30px;
  line-height: 1.15em;
}

.featured-area {
  background: #fff;
  padding: 60px 0 100px 0;
}

.single-feature {
  margin-top: 40px;
}

@media (max-width: 767px) {
  .single-feature {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    -webkit-justify-content: center !important;
    -moz-justify-content: center !important;
    justify-content: center !important;
  }
}

.single-feature .desc {
  width: 80%;
}

@media (max-width: 767px) {
  .single-feature .desc {
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .single-feature .desc {
    width: 100%;
  }
}

.single-feature .desc h4 {
  margin: 10px 0 20px 0;
  font-size: 20px;
}

.footer-area {
  background: #333333;
  padding: 100px 0;
  margin-bottom: 6rem;
}

@media (max-width: 767px) {
  .footer-area {
    margin-bottom: 3rem;
  }
}

.footer-area .footer-menu a {
  display: inline-block;
  margin: 0 20px;
  color: #fff;
}

.footer-area .footer-menu a:hover {
  color: #F5BE30;
}

.footer-area .copy-right-text {
  text-align: center;
}

.about-generic-area {
  background: #fff;
}

.about-generic-area .border-top-generic {
  padding: 100px 15px;
}

.about-generic-area p {
  margin-bottom: 20px;
}